
<form>
      <h6>EMAIL</h6>
      <input type="email" />
      <h6>MESSAGE</h6>
      <textarea  id="" cols="50" rows="10"></textarea>
    </form>
    <div id="articles">
        <div>
        <article>
          <h3>Hiking in the Snow to B&uacute;rfellsgj&aacute;</h3>
          <p>Magn&uacute;s, an outdoor enthusiast, took me on a hiking trip to this ancient field in a snowy afternoon.</p>
          <a href="#"><i class="fa fa-long-arrow-left"></i> previous story</a>
        </article>
        <article>
          <h3>The gated Buenos Aires community</h3>
          <p>The richest and poorest residents of Argentina's capital are seperated by the walls of gated communities.</p>
          <a href="#" class="right">next story <i class="fa fa-long-arrow-right"></i></a>
        </article>
      </div>
      </div>
<div ng-include='"templates/footer.html"'></div>
